@use "../abstracts/abstracts" as abs;
@use "sass:map";
@use "../abstracts/functions" as f;

footer {
  padding-top: f.to-rem(48);
  padding-bottom: f.to-rem(48);
  padding-left: f.to-rem(32);
  background-color: map.get(abs.$colors, "black");
  @include abs.bp("md") {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 5%;
    padding-bottom: 0;
   
  }
  .mg__icon {
    margin-bottom: f.to-rem(38);
  }
  p {
    font-size: map.get(abs.$font-sizes, "bd-s");
    font-family: abs.$body-tpg;
    font-weight: map.get(abs.$fonts-weights, "light");
    line-height: map.get(abs.$line-h, "bd-s");
    color: map.get(abs.$colors, "white");
    width: 100%;
    margin-bottom: f.to-rem(38);
    @include abs.bp("md"){
      width: 40%;
    }
  }
  .media {
    display: flex;
    gap: f.to-rem(20);
  }
}

.footer-location{
  padding: f.to-rem(48) f.to-rem(10);
  background-color: map.get(abs.$colors, "primary-color");
  @include abs.bp('md'){
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: f.to-rem(56) f.to-rem(39);
  }
p{
  max-width:90%;
  color: map.get(abs.$colors, "black");
   font-weight: map.get(abs.$fonts-weights, "regular");
   margin: f.to-rem(38) 0;
   @include abs.bp('md'){
    margin-top: 0;
   }
}
.footer__media{
  display: flex;
gap: f.to-rem(20);
}

}
