@use "../abstracts/abstracts" as abs;
@use "sass:map";
@use "../abstracts/functions" as f;

header {
  margin-bottom: f.to-rem(120);
  @include abs.bp("sm") {
    position: relative;
    @include abs.bp("lg") {
      .bp-lg-black {
        background-color: map.get(abs.$colors, "black");
        position: absolute;
        width: 33.3%;
        height: 100%;
        left: 0%;
      }
    }
  }
  .cut-img {
    /* contenedor creado para recortar la imagen interior*/
    position: relative;
    max-width: 100%;
    max-height: f.to-rem(470);
    overflow: hidden;
    margin-bottom: f.to-rem(32);
    @include abs.bp("sm") {
      max-height: none;
      @include abs.bp("lg") {
        left: 33.3%;
        width: max-content;
      }
    }

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }
  .hero {
    margin-left: f.to-rem(16);
    margin-right: f.to-rem(16);
    @include abs.bp("sm") {
      position: absolute;
      top: f.to-rem(145);
      left: f.to-rem(375);
    }
    @include abs.bp("lg") {
      display: flex;
      gap: f.to-rem(270);
      top: f.to-rem(170);
      left: f.to-rem(65);
      align-items: flex-start;
    }
    @include abs.bp("xl") {
      left: f.to-rem(140);
    }
    @include abs.bp("xxl") {
      left: f.to-rem(150);
      gap: f.to-rem(500);
    }

    h1 {
      display: flex;
      flex-direction: column;
      font-size: map.get(abs.$font-sizes, "hd-l");
      font-family: abs.$hd-tpg;
      font-weight: map.get(abs.$fonts-weights, "extra-bold");
      line-height: map.get(abs.$line-h, "hd-l");
      @include abs.bp("lg") {
        font-size: map.get(abs.$font-sizes, "hd-xl");
        line-height: map.get(abs.$line-h, "hd-xl");
        width: max-content;
        color: map.get(abs.$colors, "white");
        margin: 0;
      }
    }
    p {
      font-size: map.get(abs.$font-sizes, "bd-s");
      font-family: abs.$body-tpg;
      font-weight: map.get(abs.$fonts-weights, "light");
      line-height: map.get(abs.$line-h, "bd-s");
      color: map.get(abs.$colors, "grey");
      max-width: 95%;
      margin-top: f.to-rem(30);
      margin-bottom: f.to-rem(32);
      @include abs.bp("sm") {
        max-width: 85%;
        margin-top: f.to-rem(48);
        margin-bottom: f.to-rem(48);
      }
      @include abs.bp("lg") {
        font-size: map.get(abs.$font-sizes, "bd-m");
        margin-top: 0%;
        max-width: 100%;
        margin-bottom: f.to-rem(64);
      }
      @include abs.bp("xl") {
        max-width: 80%;
      }
    }
  }
}

/*location*/

.location-header {
  margin-bottom: 0;
  position: relative;
  height: f.to-rem(550);
  background: url(../../img/location-map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
  @include abs.bp("md") {
    background-position: 50% 50%;
  }
  @include abs.bp("lg") {
    background-position: 55% 65%;
  }
  @include abs.bp("xl") {
    background-position: 60% 65%;
  }
  @include abs.bp("xxl") {
    background-position: 65% 65%;
  }


  .pin {
    position: absolute;
    top: 40%;
    left: 40%;
    @include abs.bp("sm") {
      left: 45%;
    }
  }
}
