@use "../abstracts/abstracts" as abs;
@use "sass:map";
@use "../abstracts/functions" as f;

main {
  margin-left: f.to-rem(16);
  margin-right: f.to-rem(16);
  @include abs.bp("md") {
    margin-left: f.to-rem(41);
    margin-right: f.to-rem(38);
  }
  @include abs.bp("lg") {
    margin-left: f.to-rem(156);
    margin-right: f.to-rem(164);
  }

  .main-top-info {
    @include abs.bp("md") {
      display: grid;
      grid-template-columns: 40% 60%;
      margin-bottom: 1rem;
    }
    @include abs.bp("lg") {
      margin-bottom: f.to-rem(30);
    }
    .main__top__info__right {
      @include abs.bp("md") {
        grid-column: 2;
        grid-row: 1;
      }
      img {
        width: 100%;
        height: auto;
        @include abs.bp("lg") {
          height: f.to-rem(400);
        }
      }
    }
    .main__top__info__left {
      @include abs.bp("md") {
        grid-column: 1;
      }
      h2 {
        display: flex;
        flex-direction: column;
        font-size: map.get(abs.$font-sizes, "hd-m");
        font-family: abs.$hd-tpg;
        font-weight: map.get(abs.$fonts-weights, "extra-bold");
        line-height: map.get(abs.$line-h, "hd-m");
        margin-top: f.to-rem(25);
        margin-bottom: f.to-rem(31);
        @include abs.bp("lg") {
          max-width: 80%;
        }
      }
      p {
        margin-top: f.to-rem(21);
        margin-bottom: f.to-rem(32);
        font-size: map.get(abs.$font-sizes, "bd-s");
        font-family: abs.$body-tpg;
        font-weight: map.get(abs.$fonts-weights, "light");
        line-height: map.get(abs.$line-h, "bd-s");
        color: map.get(abs.$colors, "grey");
        width: 90%;
        @include abs.bp("md") {
          width: 85%;
        }
      }
    }
  }

  .main-bottom-info {
    margin-bottom: f.to-rem(120);
    @include abs.bp("md") {
      display: grid;
      grid-template-columns: 57% 43%;
      grid-template-rows: f.to-rem(313) f.to-rem(396);
      @include abs.bp("lg") {
        grid-template-rows: f.to-rem(313) f.to-rem(377);
      }
    }
    .main__bottom__info__left {
      img {
        width: 100%;
        margin-bottom: f.to-rem(16);
        @include abs.bp("md") {
          margin-bottom: 0;
          grid-row: span 2;
          height: f.to-rem(720);
          object-fit: cover;
          padding-right: f.to-rem(10);
        }
        @include abs.bp("lg") {
          padding-right: f.to-rem(39);
          height: f.to-rem(720);
        }
      }
    }
    .main__bottom__info__right {
      img {
        width: 100%;
        margin-bottom: f.to-rem(16);
        @include abs.bp("md") {
          margin-bottom: f.to-rem(10);
          height: 100%;
        }
        @include abs.bp("lg") {
          margin-bottom: f.to-rem(30);
        }
      }
      .bottom__text {
        padding: f.to-rem(74) f.to-rem(24);
        background-color: map.get(abs.$colors, "black");
        @include abs.bp("md") {
          height: f.to-rem(396);
        }
        @include abs.bp("lg") {
          height: f.to-rem(377);
          padding: f.to-rem(65) f.to-rem(46);
        }

        h2 {
          font-size: map.get(abs.$font-sizes, "hd-m");
          font-family: abs.$hd-tpg;
          font-weight: map.get(abs.$fonts-weights, "extra-bold");
          line-height: map.get(abs.$line-h, "hd-m");
          margin-bottom: f.to-rem(24);
          color: map.get(abs.$colors, "white");
        }
      }
      p {
        font-size: map.get(abs.$font-sizes, "bd-s");
        font-family: abs.$body-tpg;
        font-weight: map.get(abs.$fonts-weights, "light");
        line-height: map.get(abs.$line-h, "bd-s");
        color: map.get(abs.$colors, "white");
        width: 90%;
      }
    }
  }
}

.location-main {
  margin: 0;
  padding-top: f.to-rem(47);
  padding-bottom: f.to-rem(51);
  padding-left: f.to-rem(10);
  background-color: map.get(abs.$colors, "black");
  @include abs.bp("md") {
   display: grid;
   grid-template-columns: 1fr 1fr;
    padding-left: f.to-rem(39);
    padding-right: f.to-rem(39);
    padding-top: f.to-rem(88);
    justify-items: center;
    align-items: flex-start;
  }

  h2 {
    font-size: map.get(abs.$font-sizes, "hd-m");
    font-family: abs.$hd-tpg;
    font-weight: map.get(abs.$fonts-weights, "extra-bold");
    line-height: map.get(abs.$line-h, "hd-m");
    margin-bottom: f.to-rem(60);
    color: map.get(abs.$colors, "white");
    @include abs.bp("md") {
      max-width: 70%;
    }
  }
  .location__info {
    display: flex;
    flex-direction: column;
   

    .__street {
      font-family: abs.$hd-tpg;
      font-size: map.get(abs.$font-sizes, "hd-s");
      font-weight: map.get(abs.$fonts-weights, "extra-bold");
      line-height: map.get(abs.$line-h, "hd-s");
      margin-bottom: f.to-rem(20);
      color: map.get(abs.$colors, "primary-color");
      @include abs.bp("md") {
        max-width: 70%;
      }
    }
    .__adress {
      display: flex;
      flex-direction: column;
      font-family: abs.$body-tpg;
      font-size: map.get(abs.$font-sizes, "bd-s");
      font-weight: map.get(abs.$fonts-weights, "light");
      line-height: map.get(abs.$line-h, "bd-s");
      margin-bottom: f.to-rem(20);
    
      color: map.get(abs.$colors, "white");
      
    }
    .__info {
      font-family: abs.$body-tpg;
      font-size: map.get(abs.$font-sizes, "bd-s");
      font-weight: map.get(abs.$fonts-weights, "light");
      line-height: map.get(abs.$line-h, "bd-s");
      margin-bottom: f.to-rem(20);
      color: map.get(abs.$colors, "white");
       max-width: 85%;
      @include abs.bp('lg'){
        max-width: 94%;
      }
    }
  }
}
