@use "../abstracts/abstracts" as abs;
@use "sass:map";

main {
  padding: 0 10px;
  @include abs.bp("md") {
    margin-left: 5%;
  }

  .main-top-info {
    @include abs.bp("md") {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-top: 122px;
    }
  }

  .main__top__info__right {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    margin-top: 120px;
    @include abs.bp("md") {
      margin-top: 0%;
      width: 100%;
    }
    @include abs.bp("lg") {
      margin-top: 0%;
      img {
        object-fit: cover;
      }
    }

    img {
      width: 100%;
      @include abs.bp("lg") {
        width: 100%;
      }
    }
  }
}
.main__top__info__left {
  @include abs.bp("md") {
    display: flex;
    flex-direction: column;

    margin-right: 0;
    max-width: 40%;
  }
  h2 {
    display: flex;
    flex-direction: column;
    font-family: abs.$hd-tpg;
    font-size: map.get(abs.$font-sizes, "hd-m");
    font-weight: map.get(abs.$fonts-weights, "extrabold");
    line-height: map.get(abs.$line-h, "hd-m");
    margin-bottom: 23px;
    margin-top: 25px;
    @include abs.bp("md") {
      max-width: 70%;
      line-height: map.get(abs.$line-h, "hd-m");
    }
    @include abs.bp("lg") {
      font-size: map.get(abs.$font-sizes, "hd-l");
      line-height: map.get(abs.$line-h, "hd-l");
      max-width: 100%;
    }
  }
  p {
    color: map.get(abs.$colors, "grey");
    padding-right: 50px;
    font-family: abs.$body-tpg;
    font-weight: map.get(abs.$fonts-weights, "light");
    margin: 0;
    @include abs.bp("md") {
      max-width: 70%;
      padding: 0%;
    }
    @include abs.bp("lg") {
      max-width: 60%;
    }
  }
}
@include abs.bp("md") {
  .main-bottom-info {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 45% 55%;
    margin-top: 10px;
    margin-bottom: 118px;
  }

  .main__bottom__info__left {
    @include abs.bp("md") {
      grid-row: 1/2;
      grid-column: 1;
      margin-bottom: 0;
      margin-top: 0;
      margin-right: 10px;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      overflow: hidden;
      margin-top: 32px;
      margin-bottom: 16px;
      @include abs.bp("md") {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }

  .main__bottom__info__right img {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 16px;
    @include abs.bp("md") {
      grid-row: 1;
      grid-column: 2;
      margin-bottom: 0;
      height: 100%;
    }
  }
  .bottom__text {
    background-color: map.get(abs.$colors, "black");
    color: map.get(abs.$colors, "white");
    padding: 40px 20px;
    margin-bottom: 120px;

    @include abs.bp("md") {
      grid-row: 2;
      grid-column: 2;
      margin-bottom: 0;
    }
    h2 {
      font-family: abs.$hd-tpg;
      font-size: map.get(abs.$font-sizes, "hd-m");
      font-weight: map.get(abs.$fonts-weights, "extrabold");
      line-height: map.get(abs.$line-h, "hd-m");
      margin: 0;
    }
    p {
      font-family: abs.$body-tpg;
      max-width: 85%;
      color: map.get(abs.$colors, "white");
      @include abs.bp("md") {
        margin-bottom: 0;
        margin-right: 0%;
        max-width: 100%;
        padding-bottom: 35px;
        font-size: map.get(abs.$font-sizes, "bd-s");
      }
    }
  }
}

@include abs.bp("lg") {
  .main-bottom-info {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 45% 55%;
    margin-top: 10px;
    margin-bottom: 118px;
  }

  .main__bottom__info__left {
    @include abs.bp("lg") {
      grid-row: 1/2;
      grid-column: 1;
      margin-bottom: 0;
      margin-top: 0;
      margin-right: 10px;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      overflow: hidden;
      margin-top: 32px;
      margin-bottom: 16px;
      @include abs.bp("lg") {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }

  .main__bottom__info__right img {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 16px;
    @include abs.bp("lg") {
      grid-row: 1;
      grid-column: 2;
      margin-bottom: 0;
      height: 100%;
    }
  }
  .bottom__text {
    background-color: map.get(abs.$colors, "black");
    color: map.get(abs.$colors, "white");
    padding: 40px 20px;
    margin-bottom: 120px;

    @include abs.bp("lg") {
      grid-row: 2;
      grid-column: 2;
     
    }
    h2 {
      font-family: abs.$hd-tpg;
      font-size: map.get(abs.$font-sizes, "hd-m");
      font-weight: map.get(abs.$fonts-weights, "extrabold");
      line-height: map.get(abs.$line-h, "hd-m");
      margin: 0;
      padding-top: 100px;
    }
    p {
      font-family: abs.$body-tpg;
      max-width: 85%;
      color: map.get(abs.$colors, "white");
      @include abs.bp("lg") {
        margin-bottom: 0;
        margin-right: 0%;
        max-width: 100%;
        padding-bottom: 190px;
        font-size: map.get(abs.$font-sizes, "bd-s");
      }
    }
  }
}

.location-main {
  background-color: map.get(abs.$colors, "black");
  color: map.get(abs.$colors, "white");
  padding: 32px 15px;
  margin-left: 0;
  @include abs.bp("md") {
    display: flex;
    justify-content: space-between;
    gap: 15%;
    padding: 32px 39px;
  }
  h2 {
    padding-left: 10px;
    font-family: abs.$hd-tpg;
    font-size: map.get(abs.$font-sizes, "hd-m");
    font-weight: map.get(abs.$fonts-weights, "extrabold");
    line-height: map.get(abs.$line-h, "hd-m");
    @include abs.bp("md") {
      margin-top: 25%;
    }
  }
  .__street {
    font-family: abs.$hd-tpg;
    font-family: abs.$hd-tpg;
    font-size: map.get(abs.$font-sizes, "hd-s");
    font-weight: map.get(abs.$fonts-weights, "extrabold");
    color: map.get(abs.$colors, "primary-color");
    @include abs.bp("md") {
      margin-top: 10%;
      margin-bottom: 2%;
    }
  }
  .__adress {
    display: flex;
    flex-direction: column;
    font-family: abs.$body-tpg;
    font-size: map.get(abs.$font-sizes, "bs-s");
    color: map.get(abs.$colors, "white");
    @include abs.bp("md") {
      margin: 0%;
    }
  }
  .__info {
    max-width: 100%;
    font-family: abs.$body-tpg;
    font-size: map.get(abs.$font-sizes, "bs-s");
    color: map.get(abs.$colors, "white");

    @include abs.bp("md") {
      max-width: 98%;
    }
  }
}
