@use "../abstracts/abstracts" as abs;

@use "animations";
@use "reset";
@use "typography";

html {
  font-size: 62.5%;
}

*,*::after,*::before{
  box-sizing:border-box;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
 
}
