@use "../abstracts/abstracts" as abs;

@use "animations";
@use "reset";
@use "typography";

html {
  font-size: 62.5%;
 
}

*,
*::after,
*::before {
  box-sizing: border-box;
 margin: 0;
 padding: 0;
}

